    CLIENT_ID =
    REDIRECT_URI =
    CLIENT_SECRET =

    EXACT_BASE_URL =
    COLLECT_PAYMENT_URL =
    SEPA_START_DATE = 2026-01-01
    

   

    EXACT_MOCK =0
    EXACT_DEBUG_LOGS = 0

    SUPABASE_URL =
    SUPABASE_SERVICE_ROLE_KEY =