    CLIENT_ID =
    REDIRECT_URI =
    CLIENT_SECRET =

    EXACT_BASE_URL =
    COLLECT_PAYMENT_URL =
    

   

    EXACT_MOCK =0
    EXACT_DEBUG_LOGS = 0

    SUPABASE_URL =
    SUPABASE_SERVICE_ROLE_KEY =